{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
</head>
<body>

<<!-- Navbar fixed -->
{% include 'layout/navbar.html' %}

<div class="drawer pt-16">
    <input id="my-drawer" type="checkbox" class="drawer-toggle"/>

    <div class="drawer-content flex">
        <!-- Sidebar on large screens -->
        <div class="hidden lg:block w-48 pt-16 h-screen fixed">
            {% include 'layout/sidebar.html' %}
        </div>

        <!-- Main content with left margin -->
        <div class="flex-1 p-6 lg:ml-48">
            {% block content %}
            <h1 class="text-3xl font-bold">Dashboard</h1>
            {% endblock %}
        </div>
    </div>

    <!-- Drawer Sidebar (for mobile) -->
    {% include 'layout/sidebar.html' %}
</div>



</body>
</html>
