{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black dark:bg-gray-900 dark:text-white transition duration-300">
    <div class="container mx-auto">
        <section class="flex flex-col items-center justify-center h-screen gap-4">
            <h1 class="text-5xl text-red-600 dark:text-yellow-400 transition">Django + Tailwind = ❤️</h1>
            <button onclick="toggleDarkMode()" class="btn btn-primary">
                Toggle Dark Mode
            </button>
        </section>
    </div>

    <script>
        function toggleDarkMode() {
            document.documentElement.classList.toggle('dark');
        }
    </script>
</body>

</html>
