{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Home Page</h1>
    <h2>Books in the store</h2>
    
    {% if books_list %}
        {% for book in books_list %}
            <ul>
                <li>Title: {{book.title.title}}</li>
                <li>Slug: {{book.title.slug}}</li>
                <li>ISBN: {{book.isbn}}</li>
                <li>Date Uploaded: {{book.created}}</li>
            </ul>
        {% endfor %}
    {% endif %}
        
{% endblock %}