{% extends "base.html" %}
{% block title %}Book Titles{% endblock %}
{% block content %}
    {% comment %} new book form {% endcomment %}
    <p> Add new book <p>
    <form action='' method='POST'>
        {% csrf_token %}
        {{form}}
        <button type='submit'>Send</button>
    </form>

    {% comment %} display books {% endcomment %}
    {% if list_of_book_titles %}
        <ul>
            {% for book_title in list_of_book_titles %}
                <li><a href="{{book_title.get_absolute_url}}">{{book_title.title}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
        
{% endblock %}