{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Book Titles{% endblock %}
{% block content %}
    {% comment %} new book form {% endcomment %}
    <h1 class='text-2xl font-bold'> Add new book </h1>
    <form action="" method="POST" class="max-w-lg w-full mx-auto p-6 bg-white rounded shadow">
    {% csrf_token %}

    <div class="mb-5">
        <label for="{{ form.title.id_for_label }}" class="block text-gray-800 font-medium mb-1">Title:</label>
        {{ form.title|add_class:"w-full px-4 py-2 bg-white text-black border border-amber-400 rounded focus:ring-amber-400 focus:outline-none focus:ring-2" }}
    </div>
    {% if form.title.errors %}
        {% for error in  form.title.errors  %}
        <p class="text-red-600">{{error}}</p>
        {% endfor %}
    {% endif %}

    <div class="mb-5">
        <label for="{{ form.author.id_for_label }}" class="block text-gray-800 font-medium mb-1">Author:</label>
        {{ form.author|add_class:"w-full px-4 py-2 bg-white text-black border border-amber-400 rounded focus:ring-amber-400 focus:outline-none focus:ring-2" }}
    </div>

    <div class="mb-5">
        <label for="{{ form.publisher.id_for_label }}" class="block text-gray-800 font-medium mb-1">Publisher:</label>
        {{ form.publisher|add_class:"w-full px-4 py-2 bg-white text-black border border-amber-400 rounded focus:ring-amber-400 focus:outline-none focus:ring-2" }}
    </div>

    <button type="submit" class="w-full py-2 px-4 bg-amber-400 hover:bg-amber-500 text-black font-semibold rounded transition-all duration-200">Add</button>
</form>



    <br>
    {% comment %} display books {% endcomment %}
    {% if list_of_book_titles %}
    <h2 class="text-xl font-bold">Books</h2>
    <ul class="list-none">
        {% for book_title in list_of_book_titles %}
            <li>
                <span class="font-semibold text-gray-700">{{ forloop.counter }}.</span>
                <a class="font-medium text-blue-900" href="{{ book_title.get_absolute_url }}">{{ book_title.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

        
{% endblock %}