<!-- Mobile Sidebar Overlay -->
{% url "home_view" as path_to_home %}
{% url "books:main" as path_to_books %}
<div id="mobileSidebarOverlay" class="fixed inset-0 z-50 hidden">
    <div class="w-40 bg-black text-white min-h-full p-4 shadow-lg ml-auto">
        <div class="flex justify-end">
            <button onclick="closeSidebar()" class="text-white hover:text-white text-xl">
                &times;
            </button>
        </div>
        <nav class="mt-4 space-y-2">
            <a href="{{path_to_home}}" class="block px-2 py-1">Dashboard</a>
            <a href="{{path_to_books}}" class="block px-2 py-1">Books</a>
        </nav>
    </div>
</div>
