<nav class="navbar bg-base-100 shadow fixed top-0 left-0 w-full z-50">
    <div class="flex-1">
        <label for="my-drawer" class="btn btn-ghost btn-circle lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </label>
        <a class="btn btn-ghost normal-case text-xl">MyApp</a>
    </div>
    <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal px-1">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>
